In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.DataFrame({
    "Month": ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
    "Sales": [25000, 27000, 30000, 28000, 32000, 35000]
})

df["Growth %"] = df["Sales"].pct_change() * 100
df

  Month  Sales   Growth %
0   Jan  25000        NaN
1   Feb  27000   8.000000
2   Mar  30000  11.111111
3   Apr  28000  -6.666667
4   May  32000  14.285714
5   Jun  35000   9.375000